<section>
    <div id="principal">
        <div id="div0">
            
        </div>
        <div id="div1">
            <img src="assets/images/Logo.svg" alt="">
        </div>
        <div id="div2">
            <img src="assets/images/WomanUsingCellphone.svg" alt="">
        </div>
        <div id="div3">
            <h1><strong>Bem vind&#64; ao Divitibank!</strong></h1>
            <h2>
                Mais simplicidade e prosperidade para a sua vida, tudo na palma da mão.
                <br>
                <br>
                Acesse ou crie sua conta abaixo! 
            </h2>
                <button (click)="navigateLogin()">
                    <strong>Começar</strong>
                </button>
        </div>
    </div>
</section>
