<div style="width: 98%; position: absolute; padding: 15px; display: flex; justify-content: space-between; align-items: center;">
  <img src="assets/images/Return.svg" alt="" style="cursor: pointer;" (click)="navigatePrincipal()"/>
  <h2>Cartões</h2>
</div>
<section *ngIf="cartoes.length > 0 && cardOne">
  <div *ngFor="let card of cartoes.slice(0, 1)">
    <nav style="display: flex; justify-content: center; align-items: end; width: 90%; margin-left: 5vw;">
      <button class="excluir" (click)="excluirCartao(card)" *ngIf="clickableExclude">Excluir</button>
      <button class="excluir" *ngIf="!clickableExclude">Excluir</button>
      <div id="twoCard">
        <div>
          <div *ngIf="cardOne" (click)="changeCard()">
            <div *ngFor="let cardT of cartoes.slice().reverse()">
              <img
                src="/assets/images/DivitiCardBlue.svg"
                alt=""
                *ngIf="cardT.cor_cartao == 'blue'"
              />
              <img
                src="/assets/images/DivitiCardBlack.svg"
                alt=""
                *ngIf="cardT.cor_cartao == 'black'"
              />
              <img
                src="/assets/images/Aprox.svg"
                alt=""
                id="aprox"
                *ngIf="cardT.aproximacao == true"
              />
            </div>
          </div>
          <div *ngIf="!cardOne">
            <div *ngFor="let cardT of cartoes">
              <img
                src="/assets/images/DivitiCardBlue.svg"
                alt=""
                *ngIf="cardT.cor_cartao == 'blue'"
              />
              <img
                src="/assets/images/DivitiCardBlack.svg"
                alt=""
                *ngIf="cardT.cor_cartao == 'black'"
              />
              <img
                src="/assets/images/Aprox.svg"
                alt=""
                id="aprox"
                *ngIf="cardT.aproximacao == true"
              />
            </div>
        </div>
        </div>
      </div>
      <button (click)="navigateCriarCartao()" *ngIf="cartoes.length == 1">Criar cartão</button>
      <button style="opacity: 0;" *ngIf="cartoes.length > 1"></button>
    </nav>
    <footer>
      <div id="dadosBlue" *ngIf="card.cor_cartao == 'blue'">
        <span>
          <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <h2>DivitiCard Blue:</h2>
            <h2 *ngIf="card.tipo_cartao == 'Crédito'" style="cursor: pointer;" (click)="navigatePagarFatura(card)">Fatura do cartão: R${{card.fatura | number:'1.2-2' }} ></h2>
          </div>
          <div id="blackLine"></div>
        </span>
        <span id="data">
          <div id="data1">
            <p>Nome: ­ {{ card.nome_cartao }}</p>
            <p>Número: ­ {{ card.numero_cartao }}</p>
          </div>
          <div id="data2">
            <p>CVC: ­ {{ card.cvc }}</p>
            <p>Validade: ­ {{ card.validade }}</p>
          </div>
          <div id="data3">
            <p>Tipo: ­ {{ card.tipo_cartao }}</p>
            <p *ngIf="card.aproximacao == true">Aproximação: ­ Sim</p>
            <p *ngIf="card.aproximacao == false">Aproximação: ­ Não</p>
          </div>
        </span>
      </div>
      <div id="dadosBlack" *ngIf="card.cor_cartao == 'black'">
        <span>
          <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <h2>DivitiCard Black:</h2>
            <h2 *ngIf="card.tipo_cartao == 'Crédito'" style="cursor: pointer;" (click)="navigatePagarFatura(card)">Fatura do cartão: R${{card.fatura | number:'1.2-2' }} ></h2>
          </div>
          <div id="whiteLine"></div>
        </span>
        <span id="data">
          <div id="data1">
            <p>Nome: ­ {{ card.nome_cartao }}</p>
            <p>Número: ­ {{ card.numero_cartao }}</p>
          </div>
          <div id="data2">
            <p>CVC: ­ {{ card.cvc }}</p>
            <p>Validade: ­ {{ card.validade }}</p>
          </div>
          <div id="data3">
            <p>Tipo: ­ {{ card.tipo_cartao }}</p>
            <p *ngIf="card.aproximacao == true">Aproximação: ­ Sim</p>
            <p *ngIf="card.aproximacao == false">Aproximação: ­ Não</p>
          </div>
        </span>
      </div>
    </footer>
  </div>
</section>

<section *ngIf="cartoes.length > 0 && !cardOne">
  <div *ngFor="let card of cartoes.slice(1, 2)">
    <nav style="display: flex; justify-content: center; align-items: end; width: 90%; margin-left: 5vw;">
      <button class="excluir"  (click)="excluirCartao(card)" *ngIf="clickableExclude">Excluir</button>
      <button class="excluir"  *ngIf="!clickableExclude">Excluir</button>
      <div id="twoCard" (click)="changeCard()">
        <div *ngIf="cardOne">
          <div *ngFor="let cardT of cartoes.slice().reverse()">
            <img
              src="/assets/images/DivitiCardBlue.svg"
              alt=""
              *ngIf="cardT.cor_cartao == 'blue'"
            />
            <img
              src="/assets/images/DivitiCardBlack.svg"
              alt=""
              *ngIf="cardT.cor_cartao == 'black'"
            />
            <img
              src="/assets/images/Aprox.svg"
              alt=""
              id="aprox"
              *ngIf="cardT.aproximacao == true"
            />
          </div>
        </div>
        <div *ngIf="!cardOne">
          <div *ngFor="let cardT of cartoes">
            <img
              src="/assets/images/DivitiCardBlue.svg"
              alt=""
              *ngIf="cardT.cor_cartao == 'blue'"
            />
            <img
              src="/assets/images/DivitiCardBlack.svg"
              alt=""
              *ngIf="cardT.cor_cartao == 'black'"
            />
            <img
              src="/assets/images/Aprox.svg"
              alt=""
              id="aprox"
              *ngIf="cardT.aproximacao == true"
            />
          </div>
        </div>
      </div>
      <button (click)="navigateCriarCartao()" *ngIf="cartoes.length == 1">Criar cartão</button>
      <button style="opacity: 0;" *ngIf="cartoes.length > 1"></button>
    </nav>
    <footer>
      <div id="dadosBlue" *ngIf="card.cor_cartao == 'blue'">
        <span>
          <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <h2>DivitiCard Blue:</h2>
            <h2 *ngIf="card.tipo_cartao == 'Crédito'" style="cursor: pointer;" (click)="navigatePagarFatura(card)">Fatura do cartão: R${{card.fatura | number:'1.2-2' }}></h2>
          </div>
          <div id="blackLine"></div>
        </span>
        <span id="data">
          <div id="data1">
            <p>Nome: ­ {{ card.nome_cartao }}</p>
            <p>Número: ­ {{ card.numero_cartao }}</p>
          </div>
          <div id="data2">
            <p>CVC: ­ {{ card.cvc }}</p>
            <p>Validade: ­ {{ card.validade }}</p>
          </div>
          <div id="data3">
            <p>Tipo: ­ {{ card.tipo_cartao }}</p>
            <p *ngIf="card.aproximacao == true">Aproximação: ­ Sim</p>
            <p *ngIf="card.aproximacao == false">Aproximação: ­ Não</p>
          </div>
        </span>
      </div>
      <div id="dadosBlack" *ngIf="card.cor_cartao == 'black'">
        <span>
          <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <h2>DivitiCard Black:</h2>
            <h2 *ngIf="card.tipo_cartao == 'Crédito'" style="cursor: pointer;" (click)="navigatePagarFatura(card)">Fatura do cartão: R${{card.fatura | number:'1.2-2' }} ></h2>
          </div>
          <div id="whiteLine"></div>
        </span>
        <span id="data">
          <div id="data1">
            <p>Nome: ­ {{ card.nome_cartao }}</p>
            <p>Número: ­ {{ card.numero_cartao }}</p>
          </div>
          <div id="data2">
            <p>CVC: ­ {{ card.cvc }}</p>
            <p>Validade: ­ {{ card.validade }}</p>
          </div>
          <div id="data3">
            <p>Tipo: ­ {{ card.tipo_cartao }}</p>
            <p *ngIf="card.aproximacao == true">Aproximação: ­ Sim</p>
            <p *ngIf="card.aproximacao == false">Aproximação: ­ Não</p>
          </div>
        </span>
      </div>
    </footer>
  </div>
</section>
<section *ngIf="cartoes.length == 0">
  <h1>Você não tem nenhum DivitiCard.</h1>
  <button (click)="navigateCriarCartao()" style="margin-top: 20px;">Criar cartão</button>
  <button (click)="navigatePrincipal()" style="margin-top: 10px;">Voltar</button>
</section>
