body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 88vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #3118DF, #000093);
    padding: 20px 10px;
}

nav a img {
    height: 30px;
}

.nav-left {
    display: flex;
}

.container {
    background: linear-gradient(to right, #3118DF, #000093);
    color: white;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column; 
}

h1 {
    font-size: 2em; 
    text-align: center;
    margin-bottom: 20px;
    transform: translateY(65px);
}

.dados {
    margin-top: 10px;
    font-size: 20px;
    height: 100%;
}

.dados p {
    margin-bottom: 35px;
}

#voltarButton {
    cursor: pointer;
}