#general {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;

    width: 100%;
    height: 12vh;

    position: relative;
}

nav {
    background: linear-gradient(to right, #3118DF, #000093);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    position: relative;

    div {
        margin-right: 20px;
    }

    img{
        cursor: pointer;
    }
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 50px;
    margin-left: 20px;
    fill: #FFFFFF;
}

#checkbox {
    transform: translateX(72.5px);
    width: 75px;
    height: 40px;
    opacity: 0;
}

#dropDown {
    display: none;
    position: absolute; /* Agora fica fora do fluxo da página */
    top: 100%; /* Faz o dropdown aparecer logo abaixo da navbar */
    right: 20px; /* Mantém alinhado à direita */
    
    background-color: #000093;
    color: #FFFFFF;
    
    padding: 20px;
    border-radius: 20px;
    
    flex-direction: column;
    gap: 20px;

    img {
        width: 25px;
        margin-right: 10px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }
}

/* Estiliza o dropdown quando o checkbox estiver marcado */
nav:has(#checkbox:checked) + #dropDown {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

#underArrow {
    width: 20px;
    margin-right: 8px;
}

#userSimbol {
    width: 40px;
}
