<div id="general">
    <nav>
        <img src="assets/images/Logo.svg" alt="" id="logo"/>
        <div>
            <input type="checkbox" id="checkbox">
            <img src="assets/images/UnderArrow.svg" alt="" id="underArrow">
            <img src="assets/images/UserSimbol.svg" alt="" id="userSimbol"/>
        </div>
    </nav>
    <div id="dropDown">
        <p> <img src="assets/images/UserSimbol2.svg" alt="">Informações</p>
        <p> <img src="assets/images/Settings.svg" alt="">Configurações</p>
        <p> <img src="assets/images/Exit.svg" alt="">Sair</p>
    </div>
</div>
