<div style="width: 50%; position: absolute; padding: 15px">
  <img src="assets/images/Return.svg" alt="" style="cursor: pointer;" (click)="navigatePrincipal()"/>
</div>
<section>
  <span>
    <nav>
      <img src="/assets/images/ReceiptCheck.svg" alt="" />
      <h1>Transferência Realizada</h1>
    </nav>
    <footer>
      <p class="dados">Dados do autor:</p>
      <p>{{ `${remetente.nome} ${remetente.sobrenome}` }}</p>
      <p>{{ remetente.cpf }}</p>
      <br />
      <div class="nineLine"></div>
      <br />
      <p class="dados">Dados do destinatário:</p>
      <p>{{ `${destinatario.nome} ${destinatario.sobrenome}` }}</p>
      <p>{{ destinatario.cpf }}</p>
      <br />
      <div class="nineLine"></div>
      <br />
      <p class="dados">Data da transferência:</p>
      <p>{{ date }}</p>
      <p>{{ hour }}</p>
      <br />
      <p style="font-size: 20px">R$ {{ dinheiro }}</p>
    </footer>
  </span>
</section>
