<nav style="width: 100%; display: flex; justify-content: start; align-items: center; padding: 10px;">
  <img src="assets/images/Return.svg" alt="" (click)="navigatePrincipal()" id="voltarButton">
</nav>
<section>
  <div
    style="
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <div id="container">
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 4vw;
          padding-right: 4vw;
        "
      >
        <div>
          <p>Saldo em conta:</p>
          <p *ngIf="verSaldo">R$ {{ saldo | number : "1.2-2" }}</p>
          <p *ngIf="!verSaldo">R$ ------------</p>
        </div>
        <div>
          <img
            src="assets/images/VisualizationEye.svg"
            alt=""
            *ngIf="verSaldo"
            (click)="verSaldo = !verSaldo"
          />
          <img
            src="assets/images/VisibilityOff.svg"
            alt=""
            id="img2"
            *ngIf="!verSaldo"
            (click)="verSaldo = !verSaldo"
          />
        </div>
      </div>
    </div>
    <div style="width: 100%" *ngIf="extrato.length > 0">
      <div *ngFor="let transfer of extrato.slice(0, 5).reverse()" id="transacao">
        <div style="
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4vw;
        padding-right: 4vw;
        height: 100px;
      ">
          <div id="dadosSemDinheiro">
            <img src="assets/images/Money.svg" alt="" />
            <div>
              <h2 *ngIf="transfer.quantia < 0">Transferência efetuada</h2>
              <h2 *ngIf="transfer.quantia > 0">Transferência recebida</h2>
              <p>{{ transfer.origem }}</p>
            </div>
          </div>
          <p
            [ngClass]="{
              dinheiroPer: transfer.quantia < 0,
              dinheiroRec: transfer.quantia > 0
            }"
            *ngIf="verSaldo"
          >
            R$ {{ transfer.quantia | number : "1.2-2" }}
          </p>
          <p
            [ngClass]="{
              dinheiroPer: transfer.quantia < 0,
              dinheiroRec: transfer.quantia > 0
            }"
            *ngIf="!verSaldo"
          >
            R$ -------
          </p>
        </div>
      </div>
    </div>
    <div style="width: 100%; text-align: center; padding-top: 15px; padding-bottom: 15px;" *ngIf="extrato.length == 0">
      <h1>Você ainda não tem nenhuma operação financeira.</h1>
    </div>
    <span id="corrigirRadius">

    </span>
  </div>
</section>
