section{
    width: 100%;
    height: 88vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.cem{
    height: 100vh;
}

.oito{
    height: 88vh;
}

button {
    background: #3118df;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}