<section>
  <nav>
    <p>R$: {{ amount }}</p>
    <h1>Selecione o método de pagamento</h1>
  </nav>
  <form>
    <div *ngFor="let card of cartoes">
      <label [class.selected]="isSelected(card.id)">
        <div>
          <input
            type="radio"
            name="opcao"
            id="radio"
            [value]="card.id"
            [(ngModel)]="selectedOption"
          />
          <h4 *ngIf="card.color == 1">DivitiCard Blue</h4>
          <h4 *ngIf="card.color == 2">DivitiCard Black</h4>
        </div>
        <img
          src="/assets/images/MiniCardBlue.svg"
          alt=""
          *ngIf="card.color == 1"
        />
        <img
          src="/assets/images/MiniCardBlack.svg"
          alt=""
          *ngIf="card.color == 2"
        />
      </label>
      <br />
    </div>

    <label [class.selected]="isSelected(0)">
      <div>
        <input
          type="radio"
          name="opcao"
          id="radio"
          [value]="0"
          [(ngModel)]="selectedOption"
        />
        <h4>Saldo bancário</h4>
      </div>
      <img src="/assets/images/MiniMoney.svg" alt="" />
    </label>
    <br />
  </form>
  <button (click)="navigateRelatory()">Prosseguir</button>
</section>
