<nav
    style="
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 10px;
      height: 7.65vh;
    "
  >
    <img
      src="assets/images/Return.svg"
      alt=""
      (click)="navigateInsertKey()"
      id="voltarButton"
    />
</nav>
<body>
  <p class="destinatario">Destinatário: João Pedro Carvalho de Jesus</p>
  <hr />
  <section class="input-container">
    <p>Digite a quantidade a ser transferida</p>
    <div class="input-wrapper">
      <span>R$:</span>
      <input
        type="text"
        [value]="formattedValue"
        class="valor"
        placeholder="_,__"
        maxlength="8"
        (input)="formatInput($event)"
        (keydown)="preventInvalidDelete($event)"
        #inputRef
      />
    </div>
  </section>
  <button (click)="navigatePaymentMethod()">Prosseguir</button>
</body>
