section{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.cem{
    height: 100vh;
}

.oito{
    height: 88vh;
}

button {
    color: #EBEBEB;
    border: 2px solid #3118DF;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3118DF;

    font-size: 15px;
}

button:hover{
    background-color: transparent;
    color: #3118DF;
}