<section>
    <h1>Relatório</h1>
    <div>
        <p>Autor:  ­ {{name1}}</p>
        <p>CPF:  ­ {{cpf1}}</p>
    </div>
    <div class="blueLine"></div>
    <div>
        <p>Destinatário:  ­ {{name2}}</p>
        <p>CPF:  ­ {{cpf2}}</p>
    </div>
    <div class="blueLine"></div>
    <div id="payment">
        <p>Método de pagamento: </p>
        <p *ngIf="paymentType == 'money'">Saldo bancário</p>
        <p *ngIf="paymentType == 'blue'">DivitiCard Blue</p>
        <p *ngIf="paymentType == 'black'">DivitiCard Black</p>
    </div>
    <p id="amount">R$: {{amount}}</p>
    <button (click)="hideConfirm = !hideConfirm">Realizar pagamento</button>
</section>
<confirm-transfer [hidden]="hideConfirm" [amount]="amount" [paymentType]="paymentType"></confirm-transfer>