section{
    width: 100%;
    height: 88vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#cartao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 20px;

    img{
        width: 50px;
    }
}

#botoes{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    color: #EBEBEB;
    border: 2px solid #3118DF;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3118DF;

    font-size: 15px;
}

button:hover{
    background-color: transparent;
    color: #3118DF;
}

.excluir{
    width: 100px;
    border: 2px solid rgb(201, 0, 0);
    background-color: rgb(201, 0, 0);
}

.excluir:hover{
    background-color: transparent;
    color: rgb(201, 0, 0);
}